<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : t('titles.app') %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag "application", :media => "all" %>
    </head>

<!--summary_records_path
    records_path
    services_path -->
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="<%= root_path%>"><%=t('titles.app')%></a>
                    <div class="container nav-collapse">
                        <ul class="nav pull-right">

                            <% if user_signed_in? %>

                                <!-- Services Menu -->
                                <% if 1 == 1 %>
                                    <li>
                                        <%= link_to services_path  do%>
                                            <i class="icon icon-cut"></i>
                                            <%=t('services.index.title')%>
                                        <% end %>
                                    </li>
                                <% end %>

                                <!-- Records Menu -->
                                <% if 1 == 1 %>
                                    <li>
                                        <%= link_to records_path  do%>
                                            <i class="icon icon-list-ol"></i>
                                            <%=t('records.index.title')%>
                                        <% end %>
                                    </li>
                                <% end %>

                                <!-- Users Menu -->
                                <% if 1 == 1 %>
                                    <li>
                                        <%= link_to users_path  do%>
                                            <i class="icon icon-group"></i>
                                            <%=t('users.index.title')%>
                                        <% end %>
                                    </li>
                                <% end %>


                                <!-- Mi Acount Menu -->
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="icon icon-user"></i>
                                        <%=current_user.email%>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><%=link_to t('titles.my_account'), edit_user_path(current_user)%></li>
                                        <li class="divider"></li>
                                        <li><%=link_to t('actions.sign_out'), destroy_user_session_path, method: :delete%></li>
                                    </ul>
                                </li>
                            <% end %>
                            
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="span12">
                    <%= bootstrap_flash %>
                    <%= yield %>
                </div>
            </div><!--/row-->

            <footer>
                <p>&copy; <%= t('titles.footer')%></p>
            </footer>
        </div> <!-- /container -->

        <!-- Javascripts
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <%= javascript_include_tag "application" %>

    </body>
</html>
